<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departements</title>
     <script>document.getElementById('RegisterETD').style.display = 'none';
    document.getElementById('RegisterENS').style.display = 'none';
         document.getElementById('login').style.display = 'block';
    document.getElementById('logout').style.display = 'none';
  </script>
</head>
<body>
Departements
</body>
</html>